@import url("common.css");

.header_main{
    margin-top: 100px;
}
.titles_comment > .title_mypage{
    font-size: var(--font-normal);
    width: fit-content;
    justify-content: center;
    margin: 0px auto 40px;
}
.titles_commen > .title_mycomment{
    margin: auto;
}


.comment_main,
.bank_main{
    justify-content: space-between;
    margin: var(--margin-top) 300px;
}
.comment_list,
.bank_list{
    margin-top: 80px;
    padding: 12px;
    border-style: solid;
    border-radius: 4px;
    border-color: var(--Gray);
}

.commentDiv,
.commentDiv > .comment_left,
.bankDiv,
.bankDiv > .bank_left {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.commentDiv,
.bankDiv{
    justify-content: space-between;
}

.commentDiv > .btn_goto_comment,
.bankDiv > .btn_goto_question{
    width: 100px;
    height: 42px;
    background-color: var(--Orange);
    font-size: var(--font-normal);
    
    color: var(--text-color);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--Orange);
}

.comment_left > .comment,
.bank_left > .question,
.bankDiv > .question{
    font-size: var(--font-normal);
}
.comment_left > .stu_name{
    font-weight: bold;
    font-size: var(--font-normal);
    margin-right: 20px;
}

/* -------------------- 문제은행 상세 --------------------*/
.problem_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: var(--Gray);
    font-size: var(--font-normal);
    font-weight: bold;
    margin: var(--margin-top) 0px;
}
.semi_title{
    justify-content: center;
    margin: 40px auto;
    font-size: var(--font-medium);
    font-weight: bold;
    width: fit-content;
}

.bank_detail_list_easy,
.bank_detail_list_hard
{
    margin-top: 8px;
    padding: 12px;
    border-style: solid;
    border-radius: 4px;
    border-color: var(--Gray);
}

.bankDetailDiv_easy,
.bankDetailDiv_hard
{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: var(--font-normal);
}