/* 색상 정의 */
:root {
    --Blue: #5094F9;
    --SecondBlue: #69A3F5;
    --TextBlue: #325cc7;
    --AlmostBlack: #151F36;
    --Gray: #CFCFCF;
    --AlmostGray: #6A6B6F;
    --LightGray: #DEDEDE;
    --White: #FFFFFF;
    --Orange: #FF8412;
    --SecondOrange: #FFAC30;
    --LightOrange:#ffcd83;
    --LightRed:#ea2727e4;
    --Red: #CA0000;
    --DarkBlue: #3C5882;
    --Black:#000000;
    --PinkRed: #FF6363;
    --LightPink: #ff8c8c;
    --DarkWhite:#FDFEFE;
    --Chachoal: #525252;



    --background-color: #CFCFCF;
    --text-color: #FFFFFF;

    --font-small:14px;
    --font-normal:20px;
    --font-medium:28px;
    --font-big:30px;

    --margin-top:40px;
    --margin-middle:48px
}

/* 공통설정 */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    list-style-type: none; /* 리스트 앞에 붙은 점 제거 */
    text-decoration: none; /* 밑줄 제거 */
}

/* 메인 네비게이션바 */
.top_user_info{
    display: flex;
    flex-direction: column;
    float: right;
    width: 300px;
    height: 80px;
    justify-content: center;
    margin: 40px 40px 0px 0px;
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    border-width: 4px;
    border-color: var(--SecondBlue);
}
button:hover {
    cursor: pointer;
}

.top_bar{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: right;
    padding-top: 20px;
}
.top_bar > *{
    margin-right: 20px;
    color: var(--Black);
}

.btn_mypage{
    width: 100px;
    height: 36px;
    background-color: var(--DarkWhite);
    font-size: var(--font-small);
    color: var(--AlmostBlack);
    border-style: solid;
    border-color: var(--DarkWhite);
}

#btn_logout{
    width: 100px;
    height: 36px;
    background-color: var(--DarkWhite);
    font-size: var(--font-small);
    color: var(--AlmostBlack);
    border-radius: 5px;
    border-style: solid;
    border-color: var(--DarkWhite);
}

.top_user_info>.memberName,
.top_user_info>.memberScore,
.top_user_info>.memberStatus{
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 24px;
    margin-right: 20px;
    color: var(--Black);
}

#navbar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 90%;
    height: 116px;
    margin: 0px auto var(--margin-middle);
    gap: 4px;
}


.navbar_right,
.navbar_right_mypage,
.navbar_right_mycomment,
.navbar_right_questionBank{
    display: flex;
    align-items: end;
    gap: 10px;
}
.navbar_left{
    width: 440px;
    display: flex;
    align-items: center;
    gap: 10px;

}
.navbar_right{
    width: 440px;
}
.btn_level,.btn_gaze,.navbar_logo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: solid;
}


.btn_level{
    width: 72px;
    height: 40px;
    background-color: var(--DarkWhite);
    background-color: var(--SecondBlue);
    color: var(--DarkWhite);
    border-color: var(--SecondBlue);
    margin-right: 12px;
    border-radius: 40px;
}

.btn_gaze{
    width: 330px;
    height: 32px;
    display: flex;
    justify-content: left;
    background-color: var(--DarkWhite);
    border-color: var(--SecondBlue);
    padding: 4px;
}

.exp{
    width: 48px;
    font-size: var(--font-small);
    color: var(--Black);
}

.btn_gaze > .gaze{
    background-color: var(--SecondOrange);
    color: var(--SecondOrange);
    width: 8px;
    height: fit-content;
    padding: 2px;
    border-radius: 4px;
    
}


.navbar_logo{
    width: 448px;
    height: 100px;
    background-size: cover;
    border-color: var(--DarkWhite);
}
#logo{
    width: 100%;
    height: 100%;
}
.back_container{
    width: 100%;
    height: 50px;
}

.btn_back{
    display: flex;
    float: right;
    width: fit-content;
    margin-right: 100px;
    padding: 4px 8px;       
    justify-content: center;
    align-items: center;

    color: var(--DarkWhite);
    font-size: var(--font-normal);
    font-weight: bold;
    border: solid var(--SecondBlue);
    border-radius: 5px;
    background: var(--SecondBlue);
}
.btn_back:hover{
    background-color: #87c1ff;
    border-color: #87c1ff;
}

.problem_num,
.stu > .process_clear,
.stu > .process_fail,
.stu > .process_wait{ 
    /* 수정 */
    border-style: solid;
    border-radius: 8px;
    width: fit-content;
    padding: 4px;
    height: 24px;
    color: var(--TextBlue);
    border-color: var(--Blue);
    font-size: var(--font-normal);
    padding: 8px;
    margin-right: 20px;
}

.stu > .process_fail{
    color: var(--Orange);
    border-color: var(--Orange);
}
.stu > .process_wait{
    color: var(--AlmostGray);
    border-color: var(--AlmostGray);
}
.stu > .btn_goto_solving{
    /* 수정 */
    border-radius: 5px;
    background: var(--Blue);
    border-color: var(--Blue);
    color: var(--DarkWhite);
}










/* 버튼 */
.btn_clear,
.btn_fail,
.btn_solving,
.btn_goto_question,
.btn_goto_solution,
.btn_goto_solving,
.btn_solution_waiting
{
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    border-style: solid;
    font-size: var(--font-small);
    border-radius: 8px;
    margin-right: 20px;
    
}

.btn_clear{
    width: 112px;
    background-color: var(--Gray);
    color: var(--SecondBlue);
    border-color: var(--Gray);
    font-size: 18px;
    font-weight: bold;
}
.btn_clear:hover,
.btn_fail:hover{
    background-color: rgb(135, 135, 135);
    border-color: rgb(135, 135, 135);
    color: var(--DarkWhite);

}

.btn_fail{
    width: 112px;
    background-color: var(--Gray);
    color: var(--PinkRed);
    border-color: var(--Gray);
    font-size: 18px;
    font-weight: bold;
}

.btn_solution_waiting{
    width: 112px;
    /* background-color: var(--DarkWhite); */
    background-color: rgba(254, 175, 29, 0.454);

    color: var(--DarkWhite);
    border-color: var(--DarkWhite);
    font-size: 18px;
    font-weight: bold;
}
.btn_goto_question{
    width: 112px;
    background-color: rgb(254, 175, 29);

    /* background-color: var(--Blue); */
    color: var(--text-color);
    border-color: var(--DarkWhite);
    font-size: 18px;
    font-weight: bold;

}


.btn_goto_question:hover {
    background-color: rgb(255, 199, 96);

}

.btn_goto_solution{
    width: 80px;
    padding: 8px;
    background-color: var(--SecondBlue);
    color: var(--text-color);
    border-color: var(--DarkWhite);
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
}
.btn_goto_solution:hover{
background-color: #87c1ff;
}

.btn_solving{
    width: 100px;
    background-color: var(--LightOrange);
    color: var(--DarkWhite);
    border-color: var(--DarkWhite);
    font-size: 15px;
    font-weight: bold;
}


