@import url("common.css");

/* 타이틀 */
.title_main{
    width: 1376px;
    height: 52px;
    font-size: var(--font-medium);
    font-weight: bold;
    display: flex;
    text-align: center;
    margin: var(--margin-top) auto;
}

.title_main > .title_rank{
    /* background-color: pink; */
    display: flex;
    text-align: center;
    justify-content: right;
}

.title_question_list{
    width: 912px;
    height: 52px;
}

.title_rank{
    width: 332px;
    height: 52px;
}


/* 필터 */
.filter_main{
    width: 1376px;
    height: 52px;
    display: flex;
    justify-content: center;
    /* background-color: #3C5882; */
}

.filter_main > .h2{
    font-size: var(--font-small);
    font-weight: bold;
    height: 34px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.btn_filter1, .btn_filter2,.btn_filter3,.btn_filter4{
    background-color: var(--Gray);
    height: 34px;
    font-size: var(--font-small);
    color: var(--AlmostGray);
    border-style: solid;
    border-color: var(--Gray);
    border-radius: 5px;
    padding-inline: 4px;
}

/* 문제 & 랭킹 */
.content_main{
    display: flex;
    justify-content: center;
    width: 1376px;
    height: 493px;
    /* background-color: var(--Gray); */
    margin: var(--margin-middle) auto;
}

/* 문제 목록 */
.content_main > .question_list{
    height: 493px;
    width: 912px;
    /* background-color: #69A3F5; */
    margin-right: 132px;
    font-size: var(--font-small);
}
.question_list > .question{
    height: 48px;
    width: 912px;
    display: flex;
    align-items: center;
    /* background-color: green; */
    margin: 0px auto 2px;
}

.question > .problemTitle,
.question > .problemScore,
.question > .problemState{
    display: flex;
    align-items: center;
    background-color: var(--LightGray);
    border-style: solid;
    border-color: var(--AlmostGray);
}

.question > .problemTitle,
.question > .problemState
{
    height: 42px;
    width: 395px;
}

.question > .problemScore{
    height: 42px;
    width: 216px;
    justify-content: center;
}
.question > .problemState{
    height: 42px;
    width: 216px;
    justify-content: center;
}


/* 랭킹 */
.ranking_main{
    height: 520px;
    width: 400px;
    background-color: var(--Gray);
    color: var(--Black);
    font-size: var(--font-big);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    display: flex;
}

.user > .memberName,
.user> .memberScore{
    background-color: var(--LightGray);
    border-style: solid;
    border-radius: 1px;
    border-color: var(--AlmostGray);
    height: fit-content;
    width: 80px;
    color: var(--Black);
    font-size: var(--font-small);
}