@import url("common.css");

.solving_main{
    width: 1142px;
    height: 493px;
    margin: 10px auto;

    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
}

.problem_bar, .problem, .stu_list, .stu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-medium);
}

.problem_bar{
    justify-content: space-between;
}

.stu_list > .stu{
    /* 수정 */
    display: flex;
    font-size: var(--font-medium);
}

.stu_list{
    margin-bottom: 8px;
    justify-content: space-between;
}
.solving_list{
    margin-top: var(--margin-middle);
}






.stu > *:not(:last-child) {
    /* 수정 */
    margin-right: 32px;
}