<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>내가 쓴 댓글</title>
</head>
<body>
    <!-- 사용자정보 -->
    <div class="top_user_info">
        <!-- 이름 -->
        <div class="memberName"></div> 
        <!-- 획득한 점수 -->
        <div class="memberScore"></div>
        <!-- 상태(신입생/재학생/관리자) -->
        <div class="memberStatus"></div>
    </div>

    <!-- 네비게이션바 -->
    <div class="navbar">
        <div class="navbar_left">
            <button class="btn_level">level</button>
            <button class="btn_gaze">경험치 바</button>
        </div>

        <div class="navbar_logo">로고</div>

        <div class="navbar_right_mycomment">
            <form id="mypage-form" action="mypage">
                <button type="submit" class="btn_mypage">마이페이지</button>
            </form>
            <button type="submit" class="btn_logout">로그아웃</button>
        </div>
    </div>


    <div class="comment_main">
        <!-- 타이틀 -->
        <div class="header_main">
            <div class="titles_comment">
                <div class="title_mypage">마이페이지</div>  
                <div class="title_mycomment"><h1>내가 쓴 댓글</h1></div>
            </div>
        </div>

        <!-- 문제 목록 -->
        <div class="comment_list">
            <!-------- 주석처리예정 -------->
            <div class="commentDiv">
                <div class="comment_left">
                    <div class="problem_num">문제1</div>
                    <div class="stu_name">학생이름</div>    
                    <div class="comment">그건 왜 그렇게 쓴거죠?</div>    
                </div>
                <button type="submit" class="btn_goto_comment">보러가기</button>
            </div>
            
        </div>
    </div>
    
    <script src="/js/myComment.js"></script>
</body>
</html>