<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage.css">
    <title>마이페이지</title>

</head>

<body>
    <!-- 네비게이션바 -->
    <div class="navbar">
        <div class="navbar_left">
            <div class="btn_level">level</div>
            <div class="btn_gaze">경험치 바</div>
        </div>

        <a href="main" class="navbar_logo">로고</a>

        <div class="navbar_right_mypage">
            <div class="btn_mypage_hide"></div>
            <button type="submit" class="btn_logout">로그아웃</button>
        </div>
    </div>

    <!-- 메인 -->
    <div class="main">
        
        <div class = "btn_goto_questions">
            <!-- <button type="submit" class="btn_goto1">내가 푼 문제 보기</button>
            <button type="submit" class="btn_goto2">내가 답한 문제 보기</button>
            <button type="submit" class="btn_mycomment">내가 푼 댓글 보기</button>
            <button type="submit" class="btn_question_bank">문제은행</button>-->
        </div>
       

        <h1 class="h1">개인 정보</h1>

        <div class="user-info">

            <div class="info">
                <p><strong>학번</strong></p>
                <div class="memberStuNum"> </div>
            </div>
            <div class="info">
                <p><strong>이름</strong></p>
                <div class="memberName"> </div>
            </div>
            <div class="info">
                <p><strong>기수</strong></p>
                <div class="memberGen"> </div>
            </div>
            <div class="info">
                <p><strong>학과</strong></p>
                <div class="memberMajor"> </div>
            </div>
            <div class="info">
                <p><strong>전화번호</strong></p>
                <div class="memberPhone"> </div>
            </div>
            <div class="info">
                <p><strong>상태</strong></p>
                <div class="memberStatus"> </div>
            </div>
            <div class="info">
                <p><strong>이메일</strong></p>
                <div class="memberEmail"> </div>
            </div>        
            <div class="info">
                <p><strong>점수</strong></p>
                <div class="memberScore"> </div>
            </div>
            <div class="info">
                <p><strong>깃주소</strong></p>
                <div class="memberGitUrl"> </div>
            </div>     
        </div>
     
    </main>
    <script type="module" src="/js/mypage.js"></script>

</body>
</html>