<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>마이페이지</title>

</head>

<body>
    <!-- 네비게이션바 -->
    <header>
        <nav>
            <ul>
                <li><a href="#">Level</a></li>
                <li><a href="#">경험치 바</a></li>
                <li><a href="#">로고</a></li>
                <li><a href="#">마이페이지</a></li>
                <li><a href="#">로그아웃</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main">
        <div class = "btn-mypage">
            <button type="submit">내가 푼 문제 보기</button>
            <button type="submit">내가 답한 문제 보기</button>
        </div>

        <div class="user-info">
            <h1>개인 정보</h1>

            <div class="info">
                <p><strong>이름</strong></p>
                <p th:text="${member.memberName}"></p>
            </div>
            <div class="info">
                <p><strong>이메일</strong></p>
                <p>user@gmail.com</p>
            </div>        
            <div class="info">
                <p><strong>전화번호</strong></p>
                <p>01012345678</p>
            </div>
            <div class="info">
                <p><strong>학번</strong></p>
                <p>21919191</p>
            </div>
            <div class="info">
                <p><strong>학과</strong></p>
                <p>로봇공학과</p>
            </div>
            <div class="info">
                <p><strong>회원 등급</strong></p>
                <p>신입생</p>
            </div>


            <!-- <div class="info">
                <p><strong>이름</strong></p>
                <label for="username">홍길동</label>
            </div>
            <div class="info">
                <p><strong>이메일</strong></p>
                <label for="email">user@gmail.com</label>
            </div>        
            <div class="info">
                <p><strong>전화번호</strong></p>
                <label for="phone-number">01012345678</label>
            </div>
            <div class="info">
                <p><strong>학번</strong></p>
                <label for="student-number">21919191</label>
            </div>
            <div class="info">
                <p><strong>학과</strong></p>
                <label for="major">로봇공학과</label>

                <p></p>
            </div>
            <div class="info">
                <p><strong>회원 등급</strong></p>
                <label for="level">신입생</label>
            </div> -->

        </div>
     
    </main>
</body>
</html>